<!-- about us -->
<div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
        <div class="max-w-lg">
            <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center dark:text-white">Sobre Nosotros</h2>
            <p class="mt-4 text-gray-600 text-lg dark:text-white">
                Somos una tienda dedicada al Gaming, 
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehe</p>
        </div>
        <div class="mt-12 md:mt-0">
            <img src="https://images.unsplash.com/photo-1531973576160-7125cd663d86" alt="About Us Image" class="object-cover rounded-lg shadow-md">
        </div>
    </div>
</div>

  