<!--Gallery-->
<section class="dark:bg-[#1f2937]" id="gallery">
    <div class="flex justify-center text-3xl font-bold text-gray-800 dark:text-white text-center py-10">
        PC Ensambladas
    </div>
  
    <div class="grid grid-cols-1 place-items-center sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
  
        <div class="group relative">
            <img
      src="https://m.media-amazon.com/images/I/81sHPv5jzgL._AC_SL1500_.jpg"
      alt="Image 1"
      class="aspect-[1] h-80 object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105"
    />
        </div>
  
        <div class="group relative">
            <img
      src="https://m.media-amazon.com/images/I/714-4Z2h2qL._AC_SL1100_.jpg"
      alt="Image 2"
      class="aspect-[1] h-80 object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105"
    />
        </div>
  
        <div class="group relative">
            <img
      src="https://m.media-amazon.com/images/I/81h8lQmdmsL._AC_SL1500_.jpg"
      alt="Image 3"
      class="aspect-[1] h-80 object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105"
    />
        </div>
        <div class="group relative">
            <img
      src="https://m.media-amazon.com/images/I/712DFiwjBsL._AC_SL1000_.jpg"
      alt="Image 4"
      class="aspect-[1] h-80 object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105"
    />
        </div>
  
  
  
        <!-- Repeat this div for each image -->
    </div>
  
  </section>
  
