/* Ocultar imagen móvil en pantallas grandes */
.mobile-img {
    display: none;
  }
  
  /* Mostrar imagen móvil en pantallas pequeñas */
  @media (max-width: 768px) {
    .desktop-img {
      display: none;
    }
    .mobile-img {
      display: block;
    }
  }
  