<div class="relative w-full h-[320px]" id="home">
  <div class="absolute inset-0 brightness-50">
      <img src="fondo-large.png" alt="Background Image" class="desktop-img object-cover object-center w-full h-full" />
      <img src="fondo-movil.png" alt="Mobile Background Image" class="mobile-img hidden object-cover object-center w-full h-full" />

  </div>
  <div class="absolute inset-9 flex flex-col md:flex-row items-center justify-between">
    <div class="md:w-1/2 mb-4 md:mb-0">
        <h1 class="font-['Exo_2'] text-5xl md:text-7xl font-bold text-red-500 mb-4 tracking-wide drop-shadow-[0_2px_2px_rgba(0,0,0,0.8)]">
          Tec Store
        </h1>
        <p class="font-['Rajdhani'] text-lg md:text-2xl text-white font-semibold tracking-wider uppercase drop-shadow-[0_1px_1px_rgba(0,0,0,0.8)]">
          Pregunta por nuestros productos y servicios
        </p>
      <div class="flex items-center space-x-4">
        <a href="+507 " class="min-w-[150px] px-6 py-3 bg-[#075E54] text-white dark:bg-[#087769] dark:text-black font-medium rounded-full hover:bg-[#25D366] dark:hover:bg-[#075E54] transition duration-200 flex items-center justify-center dark:text-dark">
          <img src="https://www.svgrepo.com/show/382712/whatsapp-whats-app.svg" class="w-4 h-4 mr-2" alt="whatsapp Logo">
          Escríbenos
        </a>
        <a href="#contactUs" class="min-w-[150px] px-6 py-3 bg-[#007297] text-white dark:bg-[#008ebd] dark:text-black font-medium rounded-full hover:bg-[#00bfff] dark:hover:bg-[#005470] transition duration-200 flex items-center justify-center">
          Visítenos
        </a>
      </div>
    </div>
  </div>
</div>


  