<app-header></app-header>
<app-carrousel></app-carrousel>
<div class="bg-[#e0e7ff] dark:bg-[#1f2937]">
    <br>
    <h2 class="text-grey-700 dark:text-white  font-medium text-3xl md:text-3xl leading-tight mb-2 flex justify-center dark:text-white">
        ¿Buscas Algo En Especifico?</h2>
    <div class=" w-screen flex justify-center items-center">
        <button routerLink="/products/items"
            class=" bg-gradient-to-r from-teal-400 to-blue-500 hover:from-teal-500 hover:to-blue-600 text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition duration-200 ease-in-out hover:scale-105 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-opacity-50 flex items-center justify-center">
            <span class="mr-2">Encuentra cualquier producto</span>
            <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238c.401.401.935.621 1.502.621s1.101-.221 1.502-.621c.83-.83.83-2.17 0-3zm-14.079-3.853c-4.385 0-7.946-3.561-7.946-7.946s3.561-7.946 7.946-7.946 7.946 3.561 7.946 7.946-3.561 7.946-7.946 7.946z" />
            </svg>
        </button>
    </div>
    <br>
</div>
<app-products-catalog></app-products-catalog>
<app-products-catalog-two></app-products-catalog-two>
<app-products-catalog-tree></app-products-catalog-tree>
<app-footer></app-footer>