<!-- Services section -->
<section class="py-10" id="services">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center" id="Services" >Nuestros Servicios</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            
            <!-- #1 -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="Reparacion de Consolas.jpg" alt="Reparacion de consolas" class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Reparación de Consolas y Mandos</h3>
                    <p class="text-gray-700 text-base">Devuelvele la vida a tus consolas y mandos. Solucionamos problemas técnicos profundos
                         para que puedas seguir disfrutando de tus juegos favoritos sin interrupciones.
                    <details>
                        <summary>Consolas:</summary>
                            <li>Nintendo Switch</li>
                            <li>Xbox X/S</li>
                            <li>PlayStation 4/5</li>
                            <li>Nintendo DS/3ds</li>
                            <li>PSP</li>
                        </details>
                    </p>
                </div>
            </div>
            
            <!-- #2 -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="mantenimiento preventivo.jpg" alt="Mantenimiento Preventivo"
                    class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Mantenimiento Preventivo</h3>
                    <p class="text-gray-700 text-base">Asegura la longevidad y el rendimiento de tus consolas. Realizamos limpieza y revision
                         regular para evitar fallos y mantener tu equipo en perfectas condiciones.</p>
                </div>
            </div>

            <!-- #3 -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="Armado PC.jpg" alt="Coffee"
                    class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Esamblado de PC</h3>
                    <p class="text-gray-700 text-base">Te ofrecemos el servicio de ensamble de PC Gamer a domicilio, Incluye ensamble, 
                        Configuración del BIOS, instalación de Windows, Drivers, Office y librerías.
                    <details>
                        <summary>Detalles:</summary>
                        <p>Trabajamos con todas las piezas existentes en el mercado</p>
                    </details>
                    </p>
  
                </div>
            </div>

            <!-- #4 -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="https://images.unsplash.com/photo-1607672632458-9eb56696346b?q=80&w=1914&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Coffee"
                    class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Chilli pounding</h3>
                    <p class="text-gray-700 text-base">We specializes in the production of high-quality chili powder.
                        Our chili powder is made from the finest, freshest chilies, and we use traditional pounding
                        methods to ensure that our chili powder retains its full flavor and aroma.
                    <details>
                        <summary>Read More</summary>
                        <p> We offer a variety of chili powder products, including mild, medium, and hot. We also offer
                            custom blends to meet the specific needs of our customers.</p>
                    </details>
                    </p>
                </div>
            </div>


  
            <!-- #5 -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="https://media.istockphoto.com/id/1265641298/photo/fried-papad.jpg?s=612x612&w=0&k=20&c=e_iEy4CTvU6Thn02zGgKt_TiSYAheCKmgfTF5j52ovU=" alt="papad"
                    class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Rice Papad</h3>
                    <p class="text-gray-700 text-base">Our company produces high-quality rice papad that is made with
                        the finest ingredients. We use traditional methods to make our papad, which gives it a unique
                        flavor and texture. Our papad is also gluten-free and vegan.
                    <details>
                        <summary>Read More</summary>
                        <p> We offer a variety of rice papad flavors, including plain, salted, spicy, and flavored. We
                            also
                            offer a variety of sizes and shapes to choose from. Our papad is available in bulk or in
                            individual packages.</p>
                    </details>
                    </p>
                </div>
            </div>
  
        </div>
    </div>
  </section>