
<header>
    <div class="navbar">
        <div class="navbar-left">
            <h1 class="company-name">Gaming</h1>
        </div>
        <div class="navbar-center">
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <a href="https://www.youtube.com" class="btn-login">Log In</a>
            <a href="#" class="btn-login">Register</a>
        </div>
    </div>
</header>

<div class="search-container">
    <input type="text" placeholder="Buscar..." class="search-bar">
    <button class="search-btn">Search</button>
</div>

