<!-- Location -->
<section class="bg-gray-100 dark:bg-[#151c25]">
    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:py-20 lg:px-8">
        <div class="max-w-2xl lg:max-w-4xl mx-auto text-center">
            <h2 class="text-3xl font-extrabold text-gray-900 dark:text-white" id="contactUs">Visítenos</h2>
            <p class="mt-3 text-lg text-gray-500 dark:text-white">En Nuestras 3 Sucursales</p>
        </div>
        <div class="mt-8 lg:mt-20">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div>
                    <div class="max-w-full mx-auto rounded-lg overflow-hidden">
                        <div class="border-t border-gray-200 px-6 py-4">
                            <h3 class="text-lg font-bold text-gray-900 dark:text-white">Contacto</h3>
                            <p class="mt-1 font-bold text-gray-600">
                                <a href="tel:+123 dark:text-white">Telefono: +507 1234-5678</a>
                            </p>
                            <a class="flex m-1" href="tel:+507 6512-1284">
                                <div class="flex-shrink-0">
                                    <div
                                        class="flex items-center justify-between h-10 w-30 rounded-md bg-indigo-500 text-white p-2">
                                        <!-- Heroicon name: phone -->
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                                        </svg>
                                        Chat o Llamada
                                    </div>
                                </div>
  
                            </a>
                        </div>
                        <div class="px-6 py-4">
                            <h3 class="text-lg font-medium text-gray-900 dark:text-white">Nuestra Ubicación</h3>
                            <p class="mt-1 text-gray-600">Panamá, Panamá, Las Mañanitas</p>
                        </div>
                        <div class="border-t border-gray-200 px-6 py-4">
                            <h3 class="text-lg font-medium text-gray-900 dark:text-white">Nuestro Horario</h3>
                            <p class="mt-1 text-gray-600 dark:text-white">Lunes - Domingo : 7pm - 6pm</p>
                        </div>
                    </div>
                </div>
                <div class="rounded-lg overflow-hidden order-none sm:order-first">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9370.751380025793!2d-79.40326580867726!3d9.071451626653387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fab5519e0a950f7%3A0x8fbc6e5c63c40513!2sEstacion%20Corredor%20Sur!5e0!3m2!1ses-419!2spa!4v1726560913064!5m2!1ses-419!2spa"
                      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                     class="w-full h-64 sm:h-96"></iframe>
                </div>
            </div>
        </div>
    </div>
  </section>