<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prueba</title>
  <link rel="stylesheet" media="all" href="main.component.css" />
</head>
<body>
  <app-header></app-header>

  <link href="https://fonts.googleapis.com/css?family=Teko:700&display=swap" rel="stylesheet">

  <h1><span class='one'>M</span><span class='two'>A</span><span class='three'>I</span><span class='four'>N</span> <span class='five'>.</span><span class='six'>.</span></h1>
  
</body>
</html>

<router-outlet></router-outlet>

