

<!-- nav bar -->
<app-header></app-header>
<!-- hero seciton -->
<app-hero> </app-hero>

<div class="dark:bg-gray-800">
    <br>

    <!-- Search -->
    <h2 class="text-grey-700 font-medium text-3xl md:text-3xl leading-tight mb-2 flex justify-center dark:text-white">¿Buscas Algo En Especifico?</h2>
    <div class="  w-screen flex justify-center items-center">
        <form action="/search" class="max-w-[480px] w-full px-4">
            <div class="relative">
                <input type="text" name="q" class="w-full border-4 h-12 shadow-xl dark:shadow-gray-950 p-6 rounded-full dark:text-gray-800 dark:border-gray-900 dark:bg-gray-200" placeholder="Juegos...">
                <button type="submit">
                    <svg class="text-teal-400 h-5 w-5 absolute top-3.5 right-3 fill-current dark:text-teal-300"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        x="0px" y="0px" viewBox="0 0 56.966 56.966"
                        style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve">
                        <path
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z">
                        </path>
                    </svg>
                </button>
            </div>
        </form>
    </div>

    <app-logo-grid> </app-logo-grid>
    <br>
</div>
<!-- our products section-->
<section class="bg-gray-100 dark:bg-[#151c25]"> 
    <app-sectionproducts></app-sectionproducts>
    <div class="flex justify-center items-center">
        <a href="" target="_blank" class="inline-flex justify-center items-center rounded cursor-pointer bg-[#273ef1]
        px-6 py-3 font-semibold text-white transition [box-shadow:rgb(171,_196,245)-8px_8px] hover:[box-shadow:rgb(171,_196,_245)0px_0px]">
            Ver más →
        </a>
    </div>
    <br>
</section>
<!-- our services section -->
<section class="dark:bg-[#1f2937]"> 
    <app-sectionservices></app-sectionservices>
</section>
<!-- about us -->
<section class="bg-gray-100 dark:bg-[#151c25]" id="aboutus">
    <app-about></app-about>
</section>
<!-- why us  -->

<!-- gallery -->
<app-gallery></app-gallery>
<!-- Location -->
<app-location></app-location>

<!-- footer -->
<app-footer></app-footer>



<script>
  document.getElementById("hamburger").onclick = function toggleMenu() {
      const navToggle = document.getElementsByClassName("toggle");
      for (let i = 0; i < navToggle.length; i++) {
        navToggle.item(i).classList.toggle("hidden");
      }
    };
</script>