

<!-- nav bar -->
<app-header></app-header>
<!-- hero seciton -->
<app-hero> </app-hero>

<div class="dark:bg-gray-800">
    <br>

    <!-- Search -->
    <h2 class="text-grey-700 font-medium text-3xl md:text-3xl leading-tight mb-2 flex justify-center dark:text-white">¿Buscas Algo En Especifico?</h2>
    <br>
    <div class=" w-screen flex justify-center items-center">
        <button routerLink="/products/items" class=" bg-gradient-to-r from-teal-400 to-blue-500 hover:from-teal-500 hover:to-blue-600 text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition duration-200 ease-in-out hover:scale-105 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-opacity-50 flex items-center justify-center">
            <span class="mr-2">Encuentra cualquier producto</span>
            <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238c.401.401.935.621 1.502.621s1.101-.221 1.502-.621c.83-.83.83-2.17 0-3zm-14.079-3.853c-4.385 0-7.946-3.561-7.946-7.946s3.561-7.946 7.946-7.946 7.946 3.561 7.946 7.946-3.561 7.946-7.946 7.946z"/>
            </svg>
        </button>
    </div>

    <app-logo-grid> </app-logo-grid>
    <br>
</div>

<!-- our products section-->
<section class="bg-gray-100 dark:bg-[#151c25]"> 
    <app-sectionproducts></app-sectionproducts>
    <div class="flex justify-center items-center">
        <a routerLink="/products/items" class="inline-flex justify-center items-center rounded cursor-pointer bg-[#273ef1]
        px-6 py-3 font-semibold text-white transition [box-shadow:rgb(171,_196,245)-8px_8px] hover:[box-shadow:rgb(171,_196,_245)0px_0px]">
            Ver más →
        </a>
    </div>
    <br>
</section>
<!-- our services section -->
<section class="dark:bg-[#1f2937]"> 
    <app-sectionservices></app-sectionservices>
</section>
<!-- about us -->
<section class="bg-gray-100 dark:bg-[#151c25]" id="aboutus">
    <app-about></app-about>
</section>
<!-- why us  -->

<!-- gallery -->
<app-gallery></app-gallery>

<!-- Location -->
<app-location></app-location>

<!-- footer -->
<app-footer></app-footer>

<!-- Scroll Button -->
<app-scroll-button> </app-scroll-button>


<script>
  document.getElementById("hamburger").onclick = function toggleMenu() {
      const navToggle = document.getElementsByClassName("toggle");
      for (let i = 0; i < navToggle.length; i++) {
        navToggle.item(i).classList.toggle("hidden");
      }
    };
</script>