<section class="py-10" id="products">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-gray-800 mb-8 dark:text-white text-center" id="Products" >Nuestros Productos</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- #1 -->
            <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden transform transition duration-500 hover:scale-110">
                <a href="/products/#Switch">
                <img src="juegos-switch.png" alt="Reparacion de consolas" class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 dark:text-white mb-2">Juegos Nintendo Switch</h3>
                        <p class="text-gray-700 dark:text-white text-base">Contamos con una gran variedad de juegos <strong>NUEVOS</strong> para Nintendo Switch.
                            <br>!Haz Click para ver el catalogo completo!
                        </p>
                </div>
                </a>
            </div>
            <!-- special card -->
            <div class="bg-white rounded-lg bg-gradient-to-tr from-pink-300 to-blue-300 p-0.5 shadow-lg overflow-hidden min-h-full transform transition duration-500 hover:scale-110">
                <div class="text-center text-white dark:text-black font-medium">Producto En Descuento</div>
                <img src="covers1.jpg" alt="Coffee"
                    class="w-full h-64 object-cover rounded-t-lg">
                <div class="p-6 bg-white dark:bg-gray-800 text-center rounded-b-lg md:min-h-full">
                    <h3 class="text-xl font-medium dark:text-white text-gray-800 mb-2">Covers para Celular</h3>
                    <p class="text-gray-700 dark:text-white text-base"><span class="font-medium underline">Texto subrayado</span>
                        No se que poner me quede sin ideas
                    </p>
                </div>
            </div>
            <!-- #3 -->
            <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden transform transition duration-500 hover:scale-110">
                <img src="mandos-xbox.jpg" alt="Reparacion de consolas" class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 dark:text-white mb-2">Mandos de Xbox</h3>
                        <p class="text-gray-700 dark:text-white text-base">Son mandos de Xbox, lo dice el titulo <br> Click 
                            <details>
                                <summary>Esto es</summary>
                                <li>Un</li>
                                <li>Mando</li>
                                <li>De</li>
                                <li>Xbox</li>
                            </details>
                        </p>
                </div>
            </div>     
        </div>
    </div>
  </section>