<section class="py-10" id="products">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center" id="Products" >Nuestros Productos</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- #1 -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="Reparacion de Consolas.jpg" alt="Reparacion de consolas" class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Reparación de Consolas y Mandos</h3>
                        <p class="text-gray-700 text-base">Devuelvele la vida a tus consolas y mandos. Solucionamos problemas técnicos profundos
                            para que puedas seguir disfrutando de tus juegos favoritos sin interrupciones.
                            <details>
                                <summary>Consolas:</summary>
                                <li>Nintendo Switch</li>
                                <li>Xbox X/S</li>
                                <li>PlayStation 4/5</li>
                                <li>Nintendo DS/3ds</li>
                                <li>PSP</li>
                            </details>
                        </p>
                </div>
            </div>
            <!-- special card -->
            <div
                class="bg-white rounded-lg bg-gradient-to-tr from-pink-300 to-blue-300 p-0.5 shadow-lg overflow-hidden min-h-full">
                <div class="text-center text-white font-medium">Special product</div>
                <img src="https://images.unsplash.com/photo-1556910110-a5a63dfd393c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cmF3JTIwc3BhZ2hldHRpfGVufDB8fDB8fHww" alt="Coffee"
                    class="w-full h-64 object-cover rounded-t-lg">
                <div class="p-6 bg-white text-center rounded-b-lg md:min-h-full">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Flavoured Spaghetti</h3>
                    <p class="text-gray-700 text-base"><span class="font-medium underline">Our speciality is</span>
                        Bappa Flour Mill offers a variety of flavored spaghetti dishes that are sure to tantalize your
                        taste
                        buds. We use only the freshest ingredients Our
                        flavors include: Mango, spinach
                    </p>
                </div>
            </div>
            <!-- #1 -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="Reparacion de Consolas.jpg" alt="Reparacion de consolas" class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Reparación de Consolas y Mandos</h3>
                        <p class="text-gray-700 text-base">Devuelvele la vida a tus consolas y mandos. Solucionamos problemas técnicos profundos
                            para que puedas seguir disfrutando de tus juegos favoritos sin interrupciones.
                            <details>
                                <summary>Consolas:</summary>
                                <li>Nintendo Switch</li>
                                <li>Xbox X/S</li>
                                <li>PlayStation 4/5</li>
                                <li>Nintendo DS/3ds</li>
                                <li>PSP</li>
                            </details>
                        </p>
                </div>
            </div>     
        </div>
    </div>
  </section>