<div class="py-14">
    <div class="max-w-screen-xl mx-auto px-4 md:px-8">
        <div class="mt-6">
            <ul class="flex gap-y-6 flex-wrap items-center justify-center [&>*]:px-12 lg:divide-x ">

                <!--Logo 1-->
                <li class="flex-none">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Nintendo_Switch_logo.svg" class="w-20" alt="Gaming Logo">
                </li>

                <!--Logo 2-->
                <li class="flex-none">
                    <img src="https://cdn.worldvectorlogo.com/logos/playstation-4.svg" class="w-28" alt="Gaming Logo">
                </li>

                <!--Logo 3-->
                <li class="flex-none">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/PlayStation_5_logo_and_wordmark.svg" class="w-28" alt="Gaming Logo">
                </li>

                <!--Logo 4-->
                <li class="flex-none">
                    <img src="https://cdn.worldvectorlogo.com/logos/xbox-2.svg" class="w-28" alt="Gaming Logo">
                    
                </li>

            </ul>
        </div>
    </div>
</div>