<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<div id="wrapper" class="flex h-screen  sm:flex-col md:flex-row font-light w-full">
  <div id="sidebar" class="bg-orange-darker md:w-64 bg-orange-800 overflow-y-scroll sm:w-screen">
    <header class="flex justify-between items-center border-b border-orange-darkest pt-8 pb-8 pl-6 pr-6">
      <div id="logo">
        <a href="#" class="no-underline text-white md:text-2xl sm:text-4xl font-bold">
          <img src="#" width="120" alt="">
          Categorías
        </a>
      </div>
    </header>

  </div>
</div>